<section class="section py-5 bg-light" id="about">
    <div class="container-fluid container-xxl">
        <div class="section-header">
            <h3 class="section-title">Qui suis-je ?</h3> 
            <small>Quelque mots à propos de moi...</small> 
            <hr>
        </div>
        <div class="row justify-content-between">
            <div class="col-auto mb-4">
                <div class="avatar-lg">
                    <img 
                        class="img-thumbnail rounded-circle"
                        src="{{ asset('images/users/avatar-1.jpg') }}" 
                        srcset="{{ asset('images/users/avatar-1.jpg') }}"
                        alt="Photo de profil" 
                        title="Photo de profil" 
                    >
                </div>
            </div>
            <div class="col-auto col-lg-9">
                <p class="lead text-muted">Suite à une réorientation, j'ai souhaité me diriger vers un domaine qui m'intéressait depuis longtemps. J'ai donc suivi la formation Développeur d'application PHP - Symfony OpenClassRooms, débouchant sur un titre RNCP niveau 6 (Bac +3).</p>
                <p class="lead text-muted">Autonome de nature, je peux travailler seul ou en groupe, étant également capable de m’adapter à un environnement que je ne connais pas.</p>
                <p class="lead text-muted">Je suis capable d'utiliser différentes technologies comme HTML5 &amp; CSS3, JavaScript, PHP, de même que d'utiliser des CMS comme Wordpress . Je suis aussi compétent dans l'utilisation de MVC comme Symfony.</p>
                <p class="lead text-muted">Vous trouverez sur mon site mon CV ainsi que des projets réalisés durant mes études ou durant mon temps libre.</p>
            </div>
        </div>
    </div>
</section>