<section class="section py-5" id="contacts">
    <div class="container">
        <div class="section-header">
            <h3 class="section-title">Contactez-moi ! </h3>
            <hr>
        </div>
        <div class="row align-items-center g-4 mt-3">
            <div class="col-md-3 col-auto justify-content-center">
                <a 
                    href="tel:+33649640119" 
                    class="box-contact" 
                    title="Me contacter par téléphone"
                ><i class="ri-phone-line"></i></a>
            </div>
            <div class="col-md-3 col-auto justify-content-center">
                <a 
                    href="#" 
                    class="box-contact" 
                    title="M'envoyer un message via le formulaire de contact"
                ><i class="ri-mail-send-line"></i></a>
            </div>
            <div class="col-md-3 col-auto justify-content-center">
                <a 
                    href="https://github.com/fredsko77" 
                    target="_blank" 
                    class="box-contact" 
                    title="Lien vers mon profil Github"
                ><i class="ri-github-fill"></i></a>
            </div>
            <div class="col-md-3 col-auto justify-content-center">
                <a 
                    href="https://www.linkedin.com/in/frédérick-agathe-027553128/" 
                    target="_blank" 
                    class="box-contact" 
                    title="Lien vers mon profil LinkedIn"
                ><i class="ri-linkedin-fill"></i></a>
            </div>
            {# <div class="col-sm">
                <div>
                    <h4 class="text-white mb-0 fw-semibold">Build your web App/SaaS with Velzon dashboard</h4>
                </div>
            </div>
            <!-- end col -->
            <div class="col-sm-auto">
                <div>
                    <a href="https://1.envato.market/velzon-admin" target="_blank" class="btn bg-gradient btn-danger"><i class="ri-shopping-cart-2-line align-middle me-1"></i> Buy Now</a>
                </div>
            </div>
            <!-- end col --> #}
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>