<section class="section nft-hero" id="hero">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-10">
                <div class="text-center">
                    <h1 class="display-4 fw-medium mb-4 lh-base text-white">
                        Discover Digital Art & Collect 
                        <span class="text-success">NFT Marketplace</span>
                    </h1>
                    <p class="lead text-white-50 lh-base mb-4 pb-2">
                        Can artwork be NFT? NFTs (non-fungible tokens) are one-of-a-kind digital assets. Given they're digital in nature, can physical works of art be turned into NFTs?.
                    </p>

                    <div class="hstack gap-2 justify-content-center">
                        <a 
                            href="apps-nft-create.html" 
                            class="btn btn-primary"
                        >
                            Create Own 
                            <i class="ri-arrow-right-line align-middle ms-1"></i>
                        </a>
                        <a 
                            href="apps-nft-explore.html" 
                            class="btn btn-danger"
                        >
                            Explore Now 
                            <i class="ri-arrow-right-line align-middle ms-1"></i>
                        </a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!-- end row -->
    </div><!-- end container -->
</section>