<section class="section nft-hero" id="hero">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-10">
                <div class="text-center">
                    <h1 class="display-4 fw-medium mb-4 lh-base text-white">
                        Frédérick AGATHE 
                        <span class="text-success">Développeur php-symfony</span>
                    </h1>
                    <p class="lead text-white-50 lh-base mb-4 pb-2">
                        Bienvenue sur mon site portfolio. 
                        <br />
                        Vous pouvez découvrir <strong class="text-decoration-underline">mes projets</strong> et en apprendre <strong class="text-decoration-underline">un peu plus sur moi</strong>.
                    </p>

                    <div class="hstack gap-2 justify-content-center">
                        <a 
                            href="#about" 
                            class="btn btn-primary"
                        >
                            En savoir plus
                            <i class="ri-arrow-right-line align-middle ms-1"></i>
                        </a>
                        <a 
                            href="#" 
                            class="btn btn-danger"
                        >
                            Télécharger mon CV 
                            <i class="ri-arrow-right-line align-middle ms-1"></i>
                        </a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!-- end row -->
    </div><!-- end container -->
</section>