<section class="section py-5" id="competences">
    <div class="container-fluid container-xxl">
        <div class="section-header">
            <h3 class="section-title">Compétences</h3>
            <h5 class="section-subtitle">Ce que j'ai appris pendant mon parcours</h5>
            <hr>
        </div>
        <div class="row g-4">
            <div class="col-lg-4">
                <div class="card text-center border">
                    <div class="card-body">
                        <span class="bg-soft-secondary">
                            <i class="ri-server-line"></i>
                        </span>
                        <h5>Back-End</h5>
                        <div class="text-muted">
                            <p class="card-text">PHP/MVC/POO</p>
                            <p class="card-text">Sql/MySQL/PostgreSQL</p>
                            <p class="card-text">Slim Framework/Laravel</p>
                            <p class="card-text">Zend Framework/Symfony</p>
                            <p class="card-text">Node/Python</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center border">
                    <div class="card-body">
                        <span class="bg-soft-success">
                            <i class="ri-computer-line"></i>
                        </span>
                        <h5>Front-End</h5>
                        <div class="text-muted">
                            <p class="card-text">Html/Twig</p>
                            <p class="card-text">CSS/Bootstrap</p>
                            <p class="card-text">Ajax/jQuery</p>
                            <p class="card-text">Javascript/React/Vue</p>
                            <p class="card-text">Less/Sass</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center border">
                    <div class="card-body">
                        <span class="bg-soft-info">
                            <i class="ri-add-box-line"></i>
                        </span>
                        <h5>Autres</h5>
                        <div class="text-muted">
                            <p class="card-text">Gitlab</p>
                            <p class="card-text">SEO</p>
                            <p class="card-text">Debian 9</p>
                            <p class="card-text">Docker</p>
                            <p class="card-text">Jira</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>