<nav class="navbar navbar-expand-lg navbar-landing fixed-top" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_default') }}">
            <img 
                src="{{ asset('images/logo.png') }}" 
                class="card-logo" 
                alt="Logo agathefrederick.fr" 
                title="Logo agathefrederick.fr" 
                height="40"
            >
        </a>
        <button 
            class="navbar-toggler py-0 fs-20 text-body" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarLandingHomeContent" 
            aria-controls="navbarLandingHomeContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation"
        ><i class="mdi mdi-menu"></i></button>

        <div class="collapse navbar-collapse" id="navbarLandingHomeContent">
            <ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-landing-home">
                <li class="nav-item">
                    <a class="nav-link fs-15 active" href="#hero">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-15" href="#competences">Compétences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-15" href="#mes-realisations">Mes réalisations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-15" href="#contacts">Contacts</a>
                </li>
            </ul>

            <div class="">
                <a href="#" class="btn btn-success">Me contacter</a>
            </div>
        </div>

    </div>
</nav>
<div class="bg-overlay bg-overlay-pattern"></div>